.logs-container {
  padding: 30px;
  font-family: "Poppins", sans-serif;
  background-color: #f9fafc;
  min-height: 100vh;
  width: 95vw;
}

.logs-header {
  margin-bottom: 20px;
}

.logs-header h2 {
  color: #1f2937;
  margin-bottom: 5px;
}

.logs-subtitle {
  color: #6b7280;
  font-size: 14px;
}

.filter-sections {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.filter-btn {
  color: black;
  padding: 8px 14px;
  background-color: #e5e7eb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.filter-btn:hover {
  background-color: #d1d5db;
}

.filter-btn.active {
  background-color: #2563eb;
  color: white;
}

.logs-table-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.logs-table-card h3 {
  margin-bottom: 10px;
  color: #111827;
}

.logs-table {
  width: 100%;
  border-collapse: collapse;
}

.logs-table th,
.logs-table td {
  text-align: left;
  padding: 12px;
  /* font-size: 12px; */
  border-bottom: 1px solid #e5e7eb;
}

.logs-table th {
  background-color: #f3f4f6;
  color: #374151;
  font-weight: 600;
}

.logs-table td {
  color: #4b5563;
}

.no-logs {
  text-align: center;
  color: #9ca3af;
  padding: 20px 0;
}

.badge.MIDDLEWARE_CALL {
  background: #7a3cfe;
}

.badge.MIDDLEWARE_SUCCESS {
  background: #57df0e;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background: #777;
  cursor: not-allowed;
}

.pagination span {
  font-weight: bold;
  color: #737373;
}
