.loading {
  min-height: 100vh;
}

.shopkeeper-container {
  font-family: "Inter", sans-serif;
  padding: 30px;
  background-color: #f9fafc;
  display: flex;
  flex-direction: column;
  width: 91.2vw;
  min-height: 100vh;
  color: #000;
  padding: 10px 60px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: row;
}

.back-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.logout-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  /* text-align: center; */
}

.subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 16px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 10px;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
}

.filter-buttons button {
  border: none;
  background: #e5e7eb;
  padding: 6px 12px;
  margin: 0 4px;
  border-radius: 6px;
  cursor: pointer;
}

.filter-buttons .active {
  background: #2563eb;
  color: white;
}

.chart-placeholder {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.circle-chart {
  width: 100px;
  height: 100px;
  border: 10px solid #16a34a;
  border-left-color: #ef4444;
  border-right-color: #3b82f6;
  border-radius: 50%;
  position: relative;
}

.circle-inner {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.chart-legend p {
  margin: 2px 0;
  font-size: 14px;
  /* text-align: center; */
}

.green-dot,
.red-dot,
.blue-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.green-dot {
  background: #16a34a;
}
.red-dot {
  background: #ef4444;
}
.blue-dot {
  background: #3b82f6;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.footer {
  text-align: center;
  margin-top: 40px;
  color: #6b7280;
}
