.shopkeeper-containers {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px;
  justify-content: center;
  background: #f9fafb;
  width: 96.2vw;
  color: black;
  min-height: 100vh;
}

.shop-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 600px;
}

.shop-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.chart-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-text {
  font-size: 14px;
  line-height: 1.8;
}

.activity-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.activity-table th,
.activity-table td {
  padding: 8px 10px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.badge {
  padding: 3px 8px;
  border-radius: 8px;
  font-size: 12px;
  color: #ffffff;
  /* text-transform: capitalize; */
}

.badge.SUCCESS {
  background: #22c55e;
}

.badge.ERROR {
  background: #ef4444;
}

.badge.API_CALL {
  background: #3b82f6;
}

.badge.BAD_REQUEST {
  background: #ff00c3ff;
}
.badge.SERVER_ERROR {
  background: #ef4444;
}

.time {
  width: 10%;
}

.type {
  width: 20%;
}
