.shopkeeper-containers {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 30px 60px;
  justify-content: center;
  background: #fafafa;
  width: 100%;
  box-sizing: border-box;
  color: black;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.shop-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 24px;
  width: 600px;
}

.shop-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.chart-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-text {
  font-size: 14px;
  line-height: 1.8;
}

.activity-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.activity-table th,
.activity-table td {
  padding: 8px 10px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.badge {
  padding: 3px 8px;
  border-radius: 8px;
  font-size: 12px;
  color: #ffffff;
  /* text-transform: capitalize; */
}

.badge.SUCCESS {
  background: #22c55e;
}

.badge.ERROR {
  background: #ef4444;
}

.badge.API_CALL {
  background: #3b82f6;
}

.badge.BAD_REQUEST {
  background: #ff00c3ff;
}
.badge.SERVER_ERROR {
  background: #ef4444;
}

.time {
  width: 10%;
}

.type {
  width: 20%;
}

.view-btn {
  margin-top: 20px;
  width: 100%;
  background: #007aff;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-btn:hover {
  background: #0062cc;
}

.activity-table th {
  background-color: #f3f4f6;
  color: #374151;
  font-weight: 600;
  padding: 12px 10px;
}

.activity-table td {
  color: #4b5563;
  padding: 12px 10px;
}
